*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; 
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
/* //-------------------------------------------------header------------------------------------------------// */
html {
    scroll-padding-top: 260px; /* Ajusta este valor según la altura de tu encabezado fijo */
    scroll-behavior: smooth; /* Desplazamiento suave */
    }

.section-header {
    display: flex;
    justify-content: space-between;
    background-color: #1b1b32;
    color: white;
    padding: 0.5rem; /* Usar unidades relativas */
    position: fixed;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 103;
    }
    
    .section-ul-header1 {
    align-items: center;
    font-size: 1.5rem; /* Usar rem en lugar de px */
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: "Merriweather", serif;
    margin-left: 0.5rem;

    }
    
    .img-header {
    width: 2.5rem; /* Usar rem en lugar de px */
    }
    
    .body-index {
    margin: 0 9%;
    min-height: 100vh;
    box-shadow: 16px 0px 16px -16px rgba(0,0,0,0.6), -16px 0px 16px -16px rgba(0,0,0,0.6);
    background-color: rgb(246, 248, 249);
    }
    .main-body-index {
    margin: 0 12%;
    min-height: 100vh;
    box-shadow: 16px 0px 16px -16px rgba(0,0,0,0.6), -16px 0px 16px -16px rgba(0,0,0,0.6);
    background-color: rgb(246, 248, 249);
    margin-top: 60px; /* Ajusta este valor según la altura del select-menu */
    padding: 21px;
    }
    .main-body-index-sign{
        margin-top: 60px; /* Ajusta este valor según la altura del select-menu */  
        background-color: white;
        height: 100vh;
    }
    .div-main{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 19px;
        background-color: rgb(44, 44, 74);
        background-size: cover;
        position: fixed;
        width: 71.5vw;
        max-width: 72%;
        height: auto;
        left: 50%;
        top: 16%;
        transform: translate(-50%, -50%);
        z-index: 100;
       }
       .basket-icone{
       position: absolute;
       right: 20px;
       display: none;
       font-family: "Merriweather", serif;
       }
       .img-basket{
        width: 3.0rem
       }
       .item-count {
        color: white;
        font-size: 30px;
        margin-left: 1px; /* Ajusta el espacio entre la imagen y el contador */
    }
    
    
    .section-header-index {
    background-repeat: no-repeat;
    background-image: url(../e-commerce.jpg);
    background-size: cover;
    height: 40vh; /* Usar vh en lugar de px */
    color: white;
    
    }

/* //-------------------------------------------------index-header------------------------------------------------// */
.body-index{
    margin-left:10% ;
    margin-right: 10%;
    min-height: 100vh;
    height: auto; /* Permite que el contenedor se ajuste al contenido */
    box-shadow: 16px 0px 16px -16px rgba(0,0,0,0.6), -16px 0px 16px -16px rgba(0,0,0,0.6);
    background-color: rgb(246, 248, 249);
}
.section-header-index{
    background-repeat: no-repeat;
    background-image: url(../e-commerce.jpg);
    background-size: cover;
    background-position: center;
    max-height: 650px;
    min-height: 320px;
    height: 645px;
    color: white;
   
    
    
}

.div-header1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.a-header{
    color: inherit; /* Hereda el color del elemento padre */
    
}

.ul-header1{
   align-items: center;
    margin-top: 3%;
    margin-left: 10%;
   
}
.logo-header{
  
    width: 50px;
    height: 40px;
}
.li-header1{
font-size: 32px;
font-weight: bolder;
letter-spacing: 1px;
font-family: "Merriweather", serif;
}
.ul-header2{
    margin-top: 3%;
    margin-right: 13%;
}
.li-header2 {
font-size: 18px;
font-weight: bolder;
padding: 12px 40px;
background-color: white;
color: rgb(56, 134, 237);
cursor: pointer;
border-radius:30px;
border: rgb(56, 134, 237) 2px solid;
font-family: 'Roboto', sans-serif;
}
.li-header2:hover{
    border: rgb(232, 236, 240) 2px solid;
    background-color: rgb(232, 236, 240) ;
}


/* //-------------------------------------------------index-main------------------------------------------------// */

.section-main{
    background-color: white;
}
.div-main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.p-main1{
    font-size: 35px;
    font-weight: bolder;
    margin-top: 4%;
    }
    .p-main2{
        font-size: 17px;
        margin-top: 1%;
        color: rgb(56, 134, 237);
    }
    .p-main2:hover{
        text-decoration: underline;
    }
    .div-main2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3%;
    
    }
    .logo-main1{
        width: 65px;
        height: 60px; 
    }
    .ul-main1{
        display: flex;
        flex-direction: column;
        position: relative;  
    }
    .li-main1{
    margin-top: 1%;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    }
    .line-container {
        position: relative;
        width: 150px;
        height: 0; /* No ocupa espacio en el flujo del documento */
        margin: 40px 0; /* Espaciado alrededor de la línea */
        }
        
        .line {
        position: absolute;
        top: 60%;
        left: 2%;
        width:100%; /* Ajusta según sea necesario */
        border: none;
        border-top: 2px solid blue; /* Línea azul */
        margin: 0; /* Sin margen */
        }

        .logo-main2{
            width: 120px;
            height: 130px;  
        }
        .logo-main3{
            width: 80px;
            height: 80px;  
        }
        .ul-main2{
            display: flex;
            justify-content: center;
            margin-left: 20%;
            margin-right:20% ; 
        }
        .li-main2{
            display: flex;
            align-items: center; 
            margin: 20px;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
        }
        .div-header2 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 0.1rem;
            font-size: 2.2rem;
           
            
        }
        .div-header2 h2{
           margin-bottom: 1rem;  
        }
        .div-header2-1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
       
        }
        .div-header2-1 div {
            font-family: "Merriweather", serif;
            color: rgb(69, 69, 209);
            background-color: white;
            text-align: left;
            padding: 0px 10px 0px 10px;
            border-radius: 7px;
            font-size: 1.8rem;
        }
        .div-header2-2{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .div-header2-2 ul{
            display: flex;
           flex-direction: column;
            }
            .div-header2-2 li{
               color: #010101;
               font-size: 0.9rem;
               font-weight: 400;
               font-family: 'Roboto', sans-serif;
                }
        .img-div-header{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #2c3369;
        margin: 5px;
        padding: 5px;
        transition: 0.5s;
        }
        .div-header2-2:hover .img-div-header {
            background-color: #ffffff; /* Nuevo color de fondo al pasar el ratón */
            transition: 0.5s;
        }
        /*----------------------------------------------popup------------------------------------------*/
        
        .popup {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,.6);
            backdrop-filter: blur(2px);
            z-index: 103;
        }
        
        .popup-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.3);
            width: 80%;
            max-width: 400px;
            border-radius: 10px;
            text-align: center;
            position: relative; /* Añadido para posicionar la cruz */
            }
            .error-message1 {
                position: absolute;
                margin-top: 40px; /* Ajusta este valor según sea necesario */
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: bold;
                color: #FF0000; /* Rojo para mensajes de error */
                display: block;
                
                }
                .password-message1 {
                color: red;
                position: absolute;
                font-size: 14px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                margin-top: 123px; /* Ajusta este valor según sea necesario */
                }
                .code-message {
                color: red;
                position: absolute;
                font-size: 14px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                }

.close {
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 23px;
    font-weight: bold;
    padding: 5px;
    
}

.close:hover,
.close:focus {
    background-color: #f7f3f3;
    text-decoration: none;
    cursor: pointer;
    border-radius:50%;
  
}
.valid-rule {
    color: rgb(49, 158, 49); /* Verde */
    font-weight: 600; /* Opcional: hacer el texto negrita */
   
}
.div-info{
margin: 10px;
display: flex;
flex-direction: column;
justify-content: left;
text-align: left;
width: 71%;

}
.div-info p{
    font-size: 14px;
    font-weight: 600;
    padding: 2px 5px 2px 5px;
   
}
.div-info ol{
    margin-top: 10px;
    border: 1px solid rgb(209, 202, 202);
    border-radius: 3%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
}
/*----------------------------------------------sign in, sign up------------------------------------------*/

    .moving{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        text-align: center;
       
       
        }
        .img-sign img{
            width: 100%;
       max-width: 700px;
       max-height: 699px;
       min-height: 697px;
       border-radius: 50px 0px 0px 50px;
       border-top: 1px solid gray;
       border-bottom: 1px solid gray;
       border-left: 1px solid gray;
       box-shadow: 0 10px 15px rgba(0, 0, 0, 1);
        }
        .img-sign-logo {
         border-radius: 50%;  
        width: 65px;
        transition: 0.5s;
        background-color: #202086;;
        }
        .img-sign-logo:hover {
        scale: 1.2;
        transition: 0.5s;
        }
.Form-box {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px ;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    max-height: 400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    }
    .Form-box-1{
    background-color: white;
    border-radius: 0 50px 50px 0;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 1);
    /* padding-top: 20px;
    padding-bottom: 20px; */
    max-width: 500px;
    min-width: 300px;
    width: 50%;
    max-height: 700px;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px groove gray;
    border-bottom: 0.5px groove gray;
    border-right: 0.5px groove gray;
    }

.h2start {
text-align: center;
color: rgb(255, 255, 255);
font-size: 22px;
}
.h2pages{
text-align: center;
color: white;
font-size: 2rem;
}
.h3start {
text-align: center;
color: rgb(0, 0, 0);
font-size: 16px;
}
.h3start a:hover{
color: rgb(255, 145, 0);
}
.underline {
text-align: center;
color: rgb(0, 0, 0);
font-size: 14px;
text-decoration: underline;
text-decoration-color: blue;
}
.underline:hover{
color: rgb(255, 145, 0);
text-decoration-color: rgb(255, 145, 0);
}
.div-underline{
margin: 14px; 
 
}
.pstart {
    text-align: center;
    margin-top: 50px;
    color: rgb(9, 9, 9);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #010101;
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin: 20px; 
    
}
.up{
 text-decoration: underline 3px;
 text-decoration-color: #007BFF;
}
.pstart a {
    color: #010101; /* Color negro */
    text-decoration: none; /* Sin subrayado */
    }
.pstart a:hover{
    color: #007BFF; /* Color negro */
    
    }
    
   
.input {
display: flex;
}
.center {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

position: relative;
}
.formsign{
    display: flex;
   flex-direction: column;
}
.center1{
    display: flex;
    text-align: left;
    flex-direction: column; 
   margin-top: 20px; 
   /* background-color: rgb(238, 232, 232); */
  
}
.inputl {
width: 260px;
margin: 20px;
height: 30px;
border: 0.2px  black solid;
border-radius: 5px;
font-family: 'Roboto', sans-serif;
padding: 18px 20px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #f8f8f8;
font-size: 16px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Sombra profesional */
}

.label1 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: rgb(13, 27, 46);
    display: block;
    margin-top: 10px;
    margin-bottom: 8px;
    letter-spacing: 1px; /* Espaciado entre letras */
}
.botton-form{
    width: 250px;
    padding: 11px 16px;
    background-color: #007bf7;
    transition: 0.2s;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    border:none;
    box-sizing: border-box;
    margin: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombra profesional */
    border-radius: 4px;
    text-align: center;
    }
    .botton-form:hover{
        background-color: #0d60b9;
        transition: 0.2s;
        box-shadow: none;
        }
.botton, .botton-buy{
width: 150px;
padding: 9px 15px;
background-color: #007BFF;
transition: 0.2s;
color: #FFFFFF;
font-family: 'Roboto', sans-serif;
border:none;
box-sizing: border-box;
margin: 7px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombra profesional */
border-radius: 4px;
text-align: center;
}

.botton:hover{
color: white;
background-color: #0056b3;
transition: 0.2s;
box-shadow: none;
}
.botton-buy {
background-color: #eb3b2b;
margin: 0px;
}
.botton-buy:hover{
color: white;
background-color: #f41c08;
transition: 0.2s;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra profesional */
}
.captcha{
display: flex;
}
.botton-reload{
width: 25px;
height: 25px;
background-color: #888;
color: white;
margin: 10px;
}
.error-message {
position: absolute;
top: 21.5%; /* Ajusta este valor según sea necesario */
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: bold;
color: #FF0000; /* Rojo para mensajes de error */
display: block;

}
.password-message {
color: green;
position: absolute;
font-size: 14px;
font-weight: bold;
font-family: 'Roboto', sans-serif;
top: 37%; /* Ajusta este valor según sea necesario */
}
.code-message {
    color: red;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    top: 28.5%; /* Ajusta este valor según sea necesario */
    }
    .green-message {
        color: green;
        }
.sobrevuelo {
position: relative;

}
.eye_password {
position: absolute;
left: 100px;
top: 50%;
transform: translateY(-240%);
cursor: pointer;
width: 20px;
}
.botton-to-nextpage{
display: flex;
justify-content: center;
margin-top: 10vh;
}


.pmain{
font-size: medium;
margin: 10px;
}
.pmainn{
font-size: large;
margin: 10px;
color: rgb(231, 17, 67);
font-weight: bolder;
}
.ul-form{
    display: flex;
    align-items: center;
    text-align: center;
}
.logo-form{
    width: 40px;
    height: 30px;
    transform: translateY(1px); 
    margin: 4px;
}
.div-sign{
    display: flex;
    justify-content: center;
}
/*--------------------------------------------------next-page----------------------------------------------*/
.select-menu{
        display: block;
        position: fixed;
        background-color: rgb(190, 234, 235);
        border-bottom: 1px solid rgb(208, 206, 206);
        z-index: 100;
        font-weight: 600;
        top: 6.9%;
        height: 4%;
        cursor: pointer;
   }
   #menu{
    position: relative;
    background-color: white; 
    text-align: center;
    padding: 0px 18px;
    z-index: 100;

   }
   .submenu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: none;
    width: auto;
    min-width: auto;
    max-width: none;
    font-weight: 500;
   
   
    
    /* padding: 20px; */
    
  
   }
   .submenu li {
    /* Permite que los elementos de lista se ajusten al contenido */
    width: auto;
    text-transform: none;
    font-weight: 500;
    z-index: 102;
}

.submenu a {
    /* Evita que el texto se quiebre y ajusta el padding */
    white-space: nowrap; /* Evita el quiebre de línea */
    padding: 10px 15px; /* Ajusta según sea necesario */
    text-transform: none;
 
}
   #menu li:hover .submenu{
    box-shadow: 16px 16px 16px -16px rgba(0,0,0,0.3), -16px 0px 16px -16px rgba(0,0,0,0.3);
    background-color: white;
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all 1.5s ease-in-out;
}
.submenu li:hover{
   
    background-color: #61619b;
    transition: all 0.3s ease-in-out;
}
.select-menu, ul{
   display:flex;
   z-index: 102;
 
   
   }
.select-menu a{ 
   display: block;
   justify-content: center;
   float: none;
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: left;
   
    width: auto;
   
}
.select-menu a:hover{
color: white;
}
h2:target {
    
        box-shadow: 0 0 10px gray;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
        color: #007BFF;               /* Cambiar el color del texto */
       
}
h2 {
    transition: all 0.3s ease-in-out;
}
p{
    padding-bottom: 2%;
}

.section-menu-li {
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #010101;
    text-transform: uppercase; /* Texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-bottom: 50px;
    margin: 10px; 
}
.bloq2 {
    position: fixed;
    right: 0;
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

article {
    margin: 15px;
    text-align: center;
    border: 0.2px groove rgb(241, 235, 235);
    padding: 20px 25px;
    font-weight: 500;
    border-radius: 12px;
    transition: transform 0.1s, box-shadow 0.1s;
    height: 280px;
}

article:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-text {
    text-align: left;
    padding: 5px;
}

.price-text {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    
}

.imgarticle {
    width: 160px;
    height: 140px;
    padding-bottom: 5px;
    border-bottom: 0.2px solid rgb(238, 230, 230);
    border-radius: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

article {
    animation: fadeIn 0.5s ease-in-out;
}
/*----------------------------------------*/
.newdisign {
    
    color: black;
    display: flex ;
    margin-top: 120px;
   
}

.bloque-articulos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
      padding: 15px;
      flex: 1;
     overflow-y: auto;
     max-height: 50rem; 
}


.bloque-pannier {
    display: none;
    flex-direction: column;
    
   border: 0.2px groove rgb(211, 204, 204);
   border-radius: 10px;
    /* box-shadow: 16px 16px 16px -16px rgba(0,0,0,0.3), -16px 0px 16px -16px rgba(0,0,0,0.3); */
    width: 11%;
    text-align: center;
        /* z-index: 999; */
        max-height: 50rem; /* Ajusta la altura máxima según tus necesidades */
        overflow-y: auto; /* Agrega una barra de desplazamiento vertical */
        margin-top: 20px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        right: 88.5%;
        left: 88.5%;
        top: 5%;
        
}
.bloque-pannier1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 14px;
    flex: 1;
    overflow-y: auto;
    max-height: 50rem;
  }
 
.basket-total {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.botonpay {
    margin-top: 10px;
    padding: 2px 7px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.botonpay:hover {
    background-color: #218838;
}
.empty-basket {
    text-align: center;
    margin-top: 20px;
}

.empty-basket p {
    font-size: 18px;
    color: #555;
}

.empty-cart-image {
    width: 500px;
    height: auto;
    margin-top: 10px;
}

 /**/
 
.imgbasket{
 width: 80px;
 padding: 5px;
}
.imgbasketpannier{
    width: 150px;
    height: auto;
    padding: 5px;
   }
.botonpannier, .botonpannier2{
    width: 50px;
    height: 30px;
   color: white;
   background-color: #4545b3;; 
   border: none;
   margin: 6px;
   border-radius: 20px;
}
.botonpannier:hover{
   background-color: rgb(190, 185, 185); 
   transition: 0.5s;
}
.botonpannier2{
    color: black;
   background-color: rgb(221, 213, 97); 
   
}
.botonpannier2:hover{
   background-color: rgb(236, 196, 123); 
   transition: 0.5s;
}
.botonpannier3{
    width: 110px;
    height: 30px;
   color: white;
   background-color: rgb(115, 119, 143); 
   border: none;
   margin: 4px;
   border-radius: 5px;
}
.botonpannier3:hover{
   background-color: rgb(94, 77, 72); 
   transition: 0.5s;
}
.botonpay{
    width: 110px;
    height: 30px;
   color: white;
   background-color: rgb(90, 139, 83); 
   border: none;
   margin: 4px;
   border-radius: 20px;
}
.botonpay:hover{
   background-color: rgb(64, 100, 60); 
   transition: 0.5s;
}
.hrpannier{
    color:rgb(228, 220, 220);
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 10px;
}
.quantity-selector{
    border-radius: 20px;
    border: none;
    margin: 4px;
    width: autox;
    height: 30px;
    text-align: center;
}
.green-text {
    color: rgb(19, 175, 19);
    font-weight: 800;
}

.out-of-stock {
    font-weight: 800;
    color: red;
}
/*----------------------------------------*/
.popuparticle {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    z-index: 102;
    }
a{
    color:black;
}

/*-----------------------------------------------------------slider------------------------------------------------*/

 

.bloque2 {
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  
  .contenedor-slider {
    position: relative;
    width: 100%; /* Ajusta según tus necesidades */
    overflow: hidden;
  }
  
  .slide-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slideun {
    flex: 0 0 33.3333%; /* Cada imagen ocupa exactamente un tercio del ancho */
    max-width: 33.3333%; /* Aseguramos que no exceda el tercio del contenedor */
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
  
  .contenedor-slider i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: background 0.3s ease;
    z-index: 1; /* Asegura que los botones estén por encima de las imágenes */
  }
  
  .contenedor-slider .fa-chevron-left {
    left: 10px;
  }
  
  .contenedor-slider .fa-chevron-right {
    right: 10px;
  }
  
  .contenedor-slider i:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
 /*--------------------------------------------------------------learn about shopping----------------------------------------------------------*/
  .div-learn {
    max-width: 77%;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #ffffff;
  }
  
  /* Títulos */
  .div-learn h1,
  .div-learn h2,
  .div-learn h3 {
    color: #2c3e50;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  
  .div-learn h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
  }
  
  .div-learn h2 {
    font-size: 1.8em;
    border-left: 4px solid #3498db;
    padding-left: 10px;
  }
  
 
  
  /* Párrafos */
  .div-learn p {
    font-size: 1em;
    margin-bottom: 1em;
    text-align: justify;
  }
  
  /* Lista ordenada */
  .div-learn ol {
  
    margin-left: 1.5em;
    margin-bottom: 1em;
  }
  
  .div-learn ol li {
    margin-bottom: 0.5em;
    font-size: 1em;
    list-style: decimal;
    font-weight: 200;
  }
  /*------------------------------------------------------------------Gallery---------------------------------------------------------------*/
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 16rem);
    gap: 10px; /* Espacio entre las imágenes */
    justify-content: center; /* Centra la galería horizontalmente */
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 20px;
    background-color: #1a2544ea;
    box-shadow: 0 0 30px 10px rgba(49, 58, 91, 0.5); /* Sombra difusa */
}

/* Elementos de la galería */
.gallery-item {
    position: relative;
    overflow: hidden;
    width: 15rem; /* Tamaño más pequeño de las imágenes */
    height: 120px;
    margin: 0 auto; /* Centra cada imagen en su celda */
    border:5px solid white ;
}

/* Imagen dentro de cada elemento */
.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa todo el alto del contenedor */
    object-fit: cover;
    border-radius: 5px; /* Esquinas ligeramente redondeadas */
}
.div-aftergallery{
    max-width: 90%;
    margin: 40px auto;
    padding: 0 10px;
    background-color: #ffffff;
}
.h3-aftergalery{
    margin: 20px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold
}
.p-aftergalery{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 20px;
    font-size: 1rem;
    
}
.details-section {
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    /* width: 90%; */
    margin-left: 3rem;
    border: 0.5px solid rgb(233, 228, 228);
    transition: transform 1s ease; /* Animación de rotación */
}

/* Estilos para el resumen (título) */
.summary-section {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Necesario para el triángulo */
    transition: transform 0.5s ease; /* Animación de rotación */
}

/* Triángulo personalizado antes del summary */
.summary-section::before {
 
    content: '';
    position: absolute;
    left: -25px; /* Ajusta según necesites */
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    border-style: solid;
    border-width: 10px 10px 0 10px; /* Ajusta el tamaño del triángulo */
    border-color: #333 transparent transparent transparent;
    transition: transform 0.5s ease; /* Animación de rotación */
}

/* Rotar el triángulo al abrir */
.details-section[open] .summary-section::before {
    transform: translateY(-50%) rotate(90deg);
}
/*---------------------------------------------------------------contact-form----------------------------------------------*/
.message-container {
    height: 35px; /* Altura fija para reservar espacio */
    margin-bottom: 40px;
    position: relative;
}
.span-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    display: block;
    padding: 10px;
    color: green;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem; /* Ajusta según tus preferencias */
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
}

.span-contact-error{
    border: 1px solid rgb(198, 4, 4);
    display: block;
    justify-content: center;
    align-items: center;
text-align: center;
    padding: 10px;
    color: rgb(128, 0, 0);
    background-color: #f0f0f0;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 1rem; /* Ajusta según tus preferencias */
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 96%;
}
.p-form{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 20px;
    font-size: 1rem;
    color: gray;
   
}
.contact-form-container {
    width: 100%;
    max-width: 80%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    margin-top: 11%;
}

.contact-form-container h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #2c3e50;
}

.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    color: #34495e;
    margin-bottom: 8px;
    font-weight: 700;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 12px 15px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
    color: #2c3e50;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #95a5a6;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.img-profile {
    width: 1.9rem;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 15px;
    cursor: pointer; /* Añadido para indicar que es clicable */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    top: 138%;
    z-index: 1;
    left: -180px;
    margin-top: 13px;
    transition: top 0.5s ease, opacity 0.5s ease;
    transform: translateY(-20px); /* Mueve el menú hacia arriba */
    opacity: 0; /* Inicialmente invisible */
    border: #bfb9b9 1px solid;
    border-radius: 4%;
    padding: 10px;
}
.dropdown-content::before {
    content: "";
    position: absolute;
    top: -20px; /* Ajusta según sea necesario */
    left: 55%; /* Centra el pico horizontalmente */
    transform: translateX(280%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f8f8f8 transparent ; /* Triángulo apuntando hacia abajo */
    z-index: 1;
    }
    .dropdown-content img {
        width: 1.5rem;
        vertical-align: middle; /* Alinea la imagen verticalmente */
    }
    
    .dropdown-content a {
        display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
        align-items: center; /* Alinea los elementos en el centro verticalmente */
        font-weight: 500;
        padding: 10px;
        text-transform:uppercase;
    }
    .dropdown-content a:hover {
        background-color: #e7eaf1;
    }
    
    .dropdown-content a img {
        margin-right: 0.5rem; /* Añade un margen para separar la imagen del texto */
    }    
.dropdown-content.show {
    top: 50px; /* Ajusta este valor según sea necesario */
    opacity: 1;
}


.dropdown {
    position: relative;
   
}
.button-profile{
    background-color: #44b678;
    border: none;
    color: white;
    border-radius: 5%;
    padding: 1.5%;
    margin-left: 3%;
    margin-bottom: 1%;
    pointer-events: none;
}
.user-initial {
    display: inline-block;
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    line-height: 30px; /* Alinea el texto verticalmente */
    border-radius: 50%; /* Hace que el elemento sea circular */
    color: white; /* Color del texto */
    text-align: center; /* Alinea el texto horizontalmente */
    margin-right: 10px; /* Espacio entre la inicial y el nombre */
    font-weight: bold; /* Hace que la letra sea negrita */
    font-size: 1.2em; /* Tamaño de la letra, ajusta según sea necesario */
    
}
/*----------------------------------------------popup-log-out------------------------------------------*/
.popup-contentlogout {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
}
/*----------------------------------------------Search-bar------------------------------------------*/
.search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 80%;
    margin-top: 1rem;
    margin-bottom: 18rem;
    position: relative;
  }
  
  .search-form {
    display: flex;
    width: 100%;
    max-width: 30rem;
    min-width: 10rem;
    position: relative;
  }
  
  .search-bar {
    padding: 10px;
    font-size: 16px;
    border: none;
    flex: 1;
    height: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .search-button {
    background-color: white;
    cursor: pointer;
    padding: 0 11px;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    height: 44px;
  }
  .search-button:hover{
    background-color: rgb(240, 244, 252);
  }
  
  .img-search {
    width: 20px;
    height: 20px;
  }
.highlight {
    border: 2px solid rgb(107, 114, 214);
}
/*---------------------------------------------- left menu ------------------------------------------*/
.menu {
    opacity: 0; /* Inicialmente transparente */
    background-color: #fff;
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px;
    width: 30%;
    text-align: center;
    position: absolute;
    top: 0; /* Alinea al principio */
    left: 0; /* Inicialmente fuera de la vista */
    transform: translateX(-100%); /* Ajusta la posición para salir de la vista */
    height: 100%; /* Ocupar toda la altura de la pantalla */
    z-index: 1100;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transición suave */
}

.menu.show {
    opacity: 1;
    transform: translateX(0); /* Desplaza el menú a la vista */
}
.menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
.menu-left-first{
    margin-top: 20px;
}
.menu a:hover {
    background-color: #f0f0f0;
}

.popupleft {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 103;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(2px);
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.5s ease; /* Transición suave */
}

.popupleft.show {
    display: block;
    opacity: 1; /* Visible */
}
.openbtn{
    background-color: #ffffff;
    color: rgb(33, 30, 238);
    padding: 13px 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px ;
    z-index: 1000;
}
.openbtn:hover{
    transition: 0.2s;
    background-color: rgb(232, 236, 240) ;
    
   
}

.header-main {
    transform: translate(-110% );
    /* margin-left: 50px;  */
}
.header-main-up{
    transform: translate(-10% );
    margin-right: 15px; 
}
.no-scroll {
    overflow: hidden; /* Evita el desplazamiento */
}
.closebtn {
    position: absolute;
    top: 5px;
    right: 20px;
    text-decoration: none;
    color: #fff; /* Color de la cruz */
    z-index: 1200; /* Mayor que el menú para que sea clicable */
    border-radius: 50%;
}

.closebtn:hover {
    color: #ccc; /* Efecto al pasar el mouse */
}
#submenuContent a{
    color: rgb(255, 255, 255);
}
#submenuContent a:hover {
    color: black;
    transition: 0.5s;
}
#submenuContent .closebtn {
    color: white;
}

#submenuContent .closebtn:hover {
    color: lightgray; 
}
/*----------------------------------------------payment page------------------------------------------*/
.container-payment{
    display: flex;
    justify-content: space-around;
}
.order-summary, .payment-form{
border: 1px solid rgb(224, 222, 222);
border-radius: 8px;
padding: 50px;
height: fit-content;
background-color: #ffffff;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
